<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nickli.scheduleapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScheduleApp"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".schedule.ScheduleActivity" />
        <activity android:name=".schedule.ScheduleAdd" />
        <activity android:name=".lunch.LunchActivity" />
        <activity android:name=".emailStaff.EmailActivity" />
        <activity android:name=".extraActivities.ClubActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".schedule.ScheduleRemind" />
        <activity android:name=".BugActivity" />
    </application>

</manifest>